In [1]:
#Q 1.
my_string = "Aman"
my_list = [1, 2, "Aman Yadav", "Ayush"]
my_float = 1.2
my_tuple = (1,2, 3 ,4)

In [2]:
#Q 2
# 1. empty string
# 2. string
# 3. list
# 4. integer

In [5]:
# Q-3
#1 . / It's a divide opertor which return a decimal value
num = 3/2
print(num)
# 2. % is a modulo operator which reutrn only remainder
num1 = 3 % 2 
print(num1)
# 3. // is a floor division which return the integer after division
num2 = 3//2
print(num2)
# 4. ** Exponentiation  operator returns a to the power b
num3 = 2**3
print(num3)

1.5
1
1
8

In [7]:
#Q4
items = ["Shailesh", 12, "ayush", 15, "Suraj",47, "Mohit",37, True, False] 
for i in items:
    print(i ,  type(i))

aman <class 'str'>
12 <class 'int'>
ayush <class 'str'>
15 <class 'int'>
rohit <class 'str'>
47 <class 'int'>
mohit <class 'str'>
37 <class 'int'>
True <class 'bool'>
False <class 'bool'>

In [ ]:
# Q5
num1 = int(input("input the first number")) 
num2 = int(input("input the second number")) 
count = 0
if num1 % num2 != 0:
    print("not divisible") 
else:
    while num1 % num2 == 0:
        num1 = num1 / num2
        count +=1
    print("it is divisble" , count, "times")

input the first number 8
input the second number 2

it is divisble 3 times

In [19]:
#Q6
int_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in int_list:
    if i% 3== 0:
        print(i, " is divsible by 3")
    else:
         print(i , " is not divisibel by 3")

1  is not divisibel by 3
2  is not divisibel by 3
3  is divsible by 3
4  is not divisibel by 3
5  is not divisibel by 3
6  is divsible by 3
7  is not divisibel by 3
8  is not divisibel by 3
9  is divsible by 3
10  is not divisibel by 3
11  is not divisibel by 3
12  is divsible by 3
13  is not divisibel by 3
14  is not divisibel by 3
15  is divsible by 3
16  is not divisibel by 3
17  is not divisibel by 3
18  is divsible by 3
19  is not divisibel by 3
20  is not divisibel by 3
21  is divsible by 3
22  is not divisibel by 3
23  is not divisibel by 3
24  is divsible by 3
25  is not divisibel by 3

In [20]:
#Q 7
# Mutable -:
#A mutable object can be changed after it is created #Example :
my_list = [1,2,3,4,5]
my_list.append(10)
print("List after appending a value = ",my_list)
# Immutable -:
#  An immutable object cannot be changed after it is created
my_number = 25
print('The memory address of int before updating: ', id(my_number))
my_number = 35
print('The memory address of int after updating: ', id(my_number))

List after appending a value =  [1, 2, 3, 4, 5, 10]
The memory address of int before updating:  139886978057200
The memory address of int after updating:  139886978057520